.nadpis-h3 {
    text-align: center;
}

.formular {
    font-family: -apple-system, Arial, sans-serif;
    background-color: navajowhite;
    padding: 30px;
}

.formular-cast {
    margin-bottom: 1rem;
}

.formular-control {
    width: 35%;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #ced4da;
}

.formular-button {
    padding: 0.375rem 0.75rem;
}

.formular-button-primary {
    color: #fff;
    background-color: green;

}













